/**********Helvetica Font*************/
@font-face {
  font-family: 'Helvetica Bold';
  src: url("../fonts/helvetica/HelveticaWorldBold.eot");
  src: url("../fonts/helvetica/HelveticaWorldBold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaWorldBold.woff2") format("woff2"), url("../fonts/helvetica/HelveticaWorldBold.woff") format("woff"), url("../fonts/helvetica/HelveticaWorldBold.ttf") format("truetype"), url("../fonts/helvetica/HelveticaWorldBold.svg#HelveticaWorldBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'HelveticaLT Bold Oblique';
  src: url("../fonts/helvetica/HelveticaLT-BoldOblique.eot");
  src: url("../fonts/helvetica/HelveticaLT-BoldOblique.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-BoldOblique.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-BoldOblique.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-BoldOblique.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-BoldOblique.svg#HelveticaLT-BoldOblique") format("svg");
  font-weight: bold;
  font-style: italic; }
@font-face {
  font-family: 'Helvetica LT Condensed bold';
  src: url("../fonts/helvetica/HelveticaLT-Condensed-Bold.eot");
  src: url("../fonts/helvetica/HelveticaLT-Condensed-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-Condensed-Bold.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-Condensed-Bold.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-Condensed-Bold.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-Condensed-Bold.svg#HelveticaLT-Condensed-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT Condensed';
  src: url("../fonts/helvetica/HelveticaLT-Condensed.eot");
  src: url("../fonts/helvetica/HelveticaLT-Condensed.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-Condensed.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-Condensed.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-Condensed.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-Condensed.svg#HelveticaLT-Condensed") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT Black';
  src: url("../fonts/helvetica/HelveticaLT-Black.eot");
  src: url("../fonts/helvetica/HelveticaLT-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-Black.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-Black.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-Black.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-Black.svg#HelveticaLT-Black") format("svg");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT Compressed';
  src: url("../fonts/helvetica/HelveticaLT-Compressed.eot");
  src: url("../fonts/helvetica/HelveticaLT-Compressed.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-Compressed.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-Compressed.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-Compressed.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-Compressed.svg#HelveticaLT-Compressed") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT CondensedLight';
  src: url("../fonts/helvetica/HelveticaLT-Condensed-Light.eot");
  src: url("../fonts/helvetica/HelveticaLT-Condensed-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-Condensed-Light.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-Condensed-Light.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-Condensed-Light.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-Condensed-Light.svg#HelveticaLT-Condensed-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Normal';
  src: url("../fonts/helvetica/HelveticaWorld-Regular.eot");
  src: url("../fonts/helvetica/HelveticaWorld-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaWorld-Regular.woff2") format("woff2"), url("../fonts/helvetica/HelveticaWorld-Regular.woff") format("woff"), url("../fonts/helvetica/HelveticaWorld-Regular.ttf") format("truetype"), url("../fonts/helvetica/HelveticaWorld-Regular.svg#HelveticaWorld-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT light';
  src: url("../fonts/helvetica/HelveticaLT-Light.eot");
  src: url("../fonts/helvetica/HelveticaLT-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-Light.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-Light.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-Light.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-Light.svg#HelveticaLT-Light") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT bold';
  src: url("../fonts/helvetica/HelveticaLT-Bold.eot");
  src: url("../fonts/helvetica/HelveticaLT-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT-Bold.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT-Bold.woff") format("woff"), url("../fonts/helvetica/HelveticaLT-Bold.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT-Bold.svg#HelveticaLT-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica LT normal';
  src: url("../fonts/helvetica/HelveticaLT.eot");
  src: url("../fonts/helvetica/HelveticaLT.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaLT.woff2") format("woff2"), url("../fonts/helvetica/HelveticaLT.woff") format("woff"), url("../fonts/helvetica/HelveticaLT.ttf") format("truetype"), url("../fonts/helvetica/HelveticaLT.svg#HelveticaLT") format("svg");
  font-weight: normal;
  font-style: normal; }
/********************************************/
@font-face {
  font-family: 'HelveticaWorldBold';
  src: url("../fonts/helvetica/HelveticaWorldBold.eot");
  src: url("../fonts/helvetica/HelveticaWorldBold.eot?#iefix") format("embedded-opentype"), url("../fonts/helvetica/HelveticaWorldBold.woff2") format("woff2"), url("../fonts/helvetica/HelveticaWorldBold.woff") format("woff"), url("../fonts/helvetica/HelveticaWorldBold.ttf") format("truetype"), url("../fonts/helvetica/HelveticaWorldBold.svg#HelveticaWorldBold") format("svg");
  font-weight: bold;
  font-style: normal; }
/***************icon-font************/
@font-face {
  font-family: 'Glyphter';
  src: url("../fonts/glyphter/Glyphter.eot");
  src: url("../fonts/glyphter/Glyphter.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphter/Glyphter.woff") format("woff"), url("../fonts/glyphter/Glyphter.ttf") format("truetype"), url("../fonts/glyphter/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal; }
[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-document:before {
  content: '\0041'; }

.icon-download-button:before {
  content: '\0042'; }

.icon-Employee:before {
  content: '\0043'; }

.icon-file:before {
  content: '\0044'; }

.icon-dark-eye:before {
  content: '\0045'; }

.icon-Hard-document:before {
  content: '\0046'; }

.icon-logout:before {
  content: '\0047'; }

.icon-Manage-Subscription:before {
  content: '\0048'; }

.icon-manage:before {
  content: '\0049'; }

.icon-Network:before {
  content: '\004a'; }

.icon-New-applicants:before {
  content: '\004b'; }

.icon-Notice:before {
  content: '\004c'; }

.icon-on:before {
  content: '\004d'; }

.icon-pencil-edit-button:before {
  content: '\004e'; }

.icon-printer:before {
  content: '\004f'; }

.icon-Project-type:before {
  content: '\0050'; }

.icon-receipt:before {
  content: '\0051'; }

.icon-Reports:before {
  content: '\0052'; }

.icon-Research:before {
  content: '\0053'; }

.icon-role:before {
  content: '\0054'; }

.icon-search:before {
  content: '\0055'; }

.icon-settings-work-tool:before {
  content: '\0056'; }

.icon-speedometer:before {
  content: '\0057'; }

.icon-state:before {
  content: '\0058'; }

.icon-testimonial:before {
  content: '\0059'; }

.icon-world:before {
  content: '\005a'; }

.icon-add-to-queue-button:before {
  content: '\0061'; }

.icon-Administration:before {
  content: '\0062'; }

.icon-agenda:before {
  content: '\0063'; }

.icon-attachment:before {
  content: '\0064'; }

.icon-black-envelope:before {
  content: '\0065'; }

.icon-blog:before {
  content: '\0066'; }

.icon-box:before {
  content: '\0067'; }

.icon-calendar:before {
  content: '\0068'; }

.icon-contract:before {
  content: '\0069'; }

.icon-cross-remove-sign:before {
  content: '\006a'; }

.icon-Customer:before {
  content: '\006b'; }

/*# sourceMappingURL=fonts.css.map */
