@mixin button($bg,$padding,$border,$border-radius,$font-color,$font-size) {
  background-color: $bg;
  padding:$padding;
  border:$border;
  border-radius:$border-radius;
  color:$font-color;
  font-size:$font-size;
}

@mixin text-format($font-color,$font-size,$margin,$padding,$line-height,$font-family) {
  margin:$margin;
  padding:$padding;
  color:$font-color;
  font-size:$font-size;
  line-height: $line-height;
  font-family: $font-family;
}

@mixin transition($property, $duration, $easing) {
    transition: $property $duration $easing;
    -webkit-transition: $property $duration $easing;
    -moz-transition: $property $duration $easing;
}

@mixin content($position, $content,$left,$top,$right,$bottom){
    position: $position;
    content:$content;
    left: $left;
    top:$top;
    right: $right;
    bottom: $bottom;
}
@mixin space($margin, $padding){
    margin: $margin;
    padding: $padding;
}
@mixin dimension($height, $width){
  height: $height;
  width: $width;
}

@mixin div-size($display, $width, $float){
  display: $display;
  width: $width;
  float: $float;
}

/*********************/
@mixin text-property($padding,$font-color,$font-size,$font-family) {
  padding:$padding;
  color:$font-color;
  font-size:$font-size;
  font-family: $font-family;
}

@mixin backgroundimg-property($background-repeat,$background-position,$background-image) {
  background-repeat:$background-repeat;
  background-position:$background-position;
  background-image:$background-image;
}

@mixin dt-display-flex {
  display: -webkit-flex; // support for responsive scroll-y
  display: -ms-flexbox;
  display: flex;
}
@mixin dt-flex-11a {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@mixin dt-flex-100 {
  -webkit-flex: 1 0 0px;
  -ms-flex: 1 0 0px;
  flex: 1 0 0px;
}
@mixin dt-flex-vertical {
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
}
