@font-face {
    font-family: 'HelveticaWorldBold';
    src: url('HelveticaWorldBold.eot');
    src: url('HelveticaWorldBold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaWorldBold.woff2') format('woff2'),
        url('HelveticaWorldBold.woff') format('woff'),
        url('HelveticaWorldBold.ttf') format('truetype'),
        url('HelveticaWorldBold.svg#HelveticaWorldBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Condensed';
    src: url('HelveticaLT-Condensed-Bold.eot');
    src: url('HelveticaLT-Condensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Condensed-Bold.woff2') format('woff2'),
        url('HelveticaLT-Condensed-Bold.woff') format('woff'),
        url('HelveticaLT-Condensed-Bold.ttf') format('truetype'),
        url('HelveticaLT-Condensed-Bold.svg#HelveticaLT-Condensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Narrow';
    src: url('HelveticaLT-Narrow-BoldOblique.eot');
    src: url('HelveticaLT-Narrow-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Narrow-BoldOblique.woff2') format('woff2'),
        url('HelveticaLT-Narrow-BoldOblique.woff') format('woff'),
        url('HelveticaLT-Narrow-BoldOblique.ttf') format('truetype'),
        url('HelveticaLT-Narrow-BoldOblique.svg#HelveticaLT-Narrow-BoldOblique') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Helvetica LT Condensed';
    src: url('HelveticaLT-Condensed.eot');
    src: url('HelveticaLT-Condensed.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Condensed.woff2') format('woff2'),
        url('HelveticaLT-Condensed.woff') format('woff'),
        url('HelveticaLT-Condensed.ttf') format('truetype'),
        url('HelveticaLT-Condensed.svg#HelveticaLT-Condensed') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT';
    src: url('HelveticaLT-Black.eot');
    src: url('HelveticaLT-Black.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Black.woff2') format('woff2'),
        url('HelveticaLT-Black.woff') format('woff'),
        url('HelveticaLT-Black.ttf') format('truetype'),
        url('HelveticaLT-Black.svg#HelveticaLT-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT Compressed';
    src: url('HelveticaLT-Compressed.eot');
    src: url('HelveticaLT-Compressed.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Compressed.woff2') format('woff2'),
        url('HelveticaLT-Compressed.woff') format('woff'),
        url('HelveticaLT-Compressed.ttf') format('truetype'),
        url('HelveticaLT-Compressed.svg#HelveticaLT-Compressed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT CondensedLight';
    src: url('HelveticaLT-Condensed-Light.eot');
    src: url('HelveticaLT-Condensed-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Condensed-Light.woff2') format('woff2'),
        url('HelveticaLT-Condensed-Light.woff') format('woff'),
        url('HelveticaLT-Condensed-Light.ttf') format('truetype'),
        url('HelveticaLT-Condensed-Light.svg#HelveticaLT-Condensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica World';
    src: url('HelveticaWorld-Regular.eot');
    src: url('HelveticaWorld-Regular.eot?#iefix') format('embedded-opentype'),
        url('HelveticaWorld-Regular.woff2') format('woff2'),
        url('HelveticaWorld-Regular.woff') format('woff'),
        url('HelveticaWorld-Regular.ttf') format('truetype'),
        url('HelveticaWorld-Regular.svg#HelveticaWorld-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT';
    src: url('HelveticaLT-Light.eot');
    src: url('HelveticaLT-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Light.woff2') format('woff2'),
        url('HelveticaLT-Light.woff') format('woff'),
        url('HelveticaLT-Light.ttf') format('truetype'),
        url('HelveticaLT-Light.svg#HelveticaLT-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT';
    src: url('HelveticaLT.eot');
    src: url('HelveticaLT.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT.woff2') format('woff2'),
        url('HelveticaLT.woff') format('woff'),
        url('HelveticaLT.ttf') format('truetype'),
        url('HelveticaLT.svg#HelveticaLT') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica LT';
    src: url('HelveticaLT-Bold.eot');
    src: url('HelveticaLT-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLT-Bold.woff2') format('woff2'),
        url('HelveticaLT-Bold.woff') format('woff'),
        url('HelveticaLT-Bold.ttf') format('truetype'),
        url('HelveticaLT-Bold.svg#HelveticaLT-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

