.ck.ck-editor__main>.ck-editor__editable {
    background: none !important;
}
.mandatory-field{
  color: red !important;
  position: relative !important;
  left: 2px !important;
  top: -3px !important;
  font-weight: bold !important; 
}
.cke_editable
{
	font-size: 18px;
	line-height: 0.3;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: revert !important;
}

.lableall {
    margin-top: -30px !important;
}

.cke_reset_all {
    display: none !important;
}

.select2-selection__clear {
    display: none !important;
}
.select2-selection__rendered {
    font-size: 18px !important;
    color: #032c61 !important;
    font-family: 'Helvetica Normal' !important;
}
.dataTables_scrollBody { overflow-y:hidden !important; }