#pdf_watermark {
    position: fixed;
    bottom:   7cm;
    left:     0.8cm;
    width:    12cm;
    height:   8cm;
    z-index:  -1000;
    opacity: 0.4;
    font-style: italic;
    font-size: 32px;
    writing-mode:tb-rl;
    -webkit-transform:rotate(-30deg);
    -moz-transform:rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform:rotate(-30deg);
    transform: rotate(-30deg);
    white-space:nowrap;
}