  <div class="box">
                    <div class="box-header with-border">
                    <h3 class="box-title"><strong>Recipients
                    </strong></h3>
                    </div>
                  
                    <div class="box-body row display-flex-wrap" style="display: flex; flex-wrap: wrap;">
                       
                        
                        <div class="form-group col-md-12">
                        <table border="1">
                            <tr><th>Category</th><th colspan='2'>Recipients</th></tr>
                            @foreach($count as $key => $count)
                            <tr>
                                <td>{{$count->name}}</td>
                                <td>{{$count->total}}</td>
                                <td><input type="checkbox" name=""></td>
                            </tr>
                            @endforeach      
                        </table>
                        </div>
                        <div class="form-group col-md-4"></div>
                        <div class="form-group con-md-8">
                            <input type="submit" name="submit" class="btn btn-primary custom-btn2" value="Add Recipients"/>
                        </div>
                    <div class="row col-md-12">

                        <div class="form-group col-md-6">
                              <h><span><strong>Contacts</strong></span></h>
                            <div class="box">
                            <div class="box-header with-border">
                            <div class="col-md-4"></div>

                            <div class="col-md-5">
                           
                            <select name="category_id" class="form-control">
                                <option>select</option>
                                <option value="Owner">Owner</option>
                                <option value="General Contractor">General Contractor</option>
                                <option value="Sub Contractor">Sub Contractor</option>
                                <option value="Sub-Sub Contractor">Sub-Sub Contractor</option>
                                <option value="Supplier">Supplier</option>
                                <optionc value="Laborer">Laborer</option>
                                <option value="Architect">Architect</option>
                                <option value="Engineer">Engineer</option>
                                <option value="Surety(Bond Company)">Surety(Bond Company)</option>
                                <option value="Designated Recipient">Designated Recipient</option>
                                <option value="Certified Recipient">Certified Recipient</option>
                                <option value="Lender">Lender</option>
                            </select>
                            </div>
                            <div class='col-md-4'>
                                <label>Name</label>
                            </div>
                            <div class='col-md-8'>
                                <input type="text" name="name" id="name">
                            </div>
                            <div class='col-md-4'>
                                <label>Contact</label>
                            </div>
                             <div class='col-md-8'>
                                <input type="text" name="contact" id="contact">
                            </div>
                             <div class='col-md-4'>
                                <label>Mobile</label>
                            </div>
                            <div class='col-md-8'>
                                <input type="text" name="mobile"  id="mobile">
                            </div>
                            <div class='col-md-4'>
                                <label>Email</label>
                            </div>
                             <div class='col-md-8'>
                                <input type="text" name="email" id="email">
                            </div>
                            <div class='col-md-4'>
                                <label>Address</label>
                            </div>
                            <div class='col-md-8'>
                                <input type="text" name="address" id="address">
                            </div>
                            <div class='col-md-4'>
                               <label>Fax</label>
                            </div>
                            <div class="col-md-8">
                               <input type="text" name="fax" id="fax">
                            </div> 
                            <div class='col-md-3'>
                               <label>City</label>
                            </div>
                            <div class='col-md-3'>
                                <select id="city" name="city_id" class="form-control">
                                      <option>City</option>
                                    @foreach($cities as $city)
                                   <option value="{{$city->id}}">{{$city->name}}</option>
                                    @endforeach
                                </select>
                            </div>
                            <div class='col-md-3'>
                               <label>State</label>
                            </div>
                            <div class='col-md-3'>
                                <select id="state" name="state_id" class="form-control">
                                    <option>City</option>
                                    @foreach($states as $state)
                                    <option value="{{$state->id}}">{{$state->name}}</option>
                                    @endforeach
                                </select>
                            </div>
                            <div class='col-md-4'>
                               <label>Zip Code</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" name="zip" id="zip">
                            </div>
                            

                           </div>
                       </div>
                   </div>
                       
                        <div class="form-group col-md-6">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                            <h><span><strong>Selected Recipients</strong></span></h></div>
                            <span>Note : - Customer will be able to edit the details of recipient selected</span>
                        
                 
                        <table id="secondaryDocTable" class="table table-striped table-hover display">

                        <thead>
                          
                        <tr class="bg-green">
                            <th data-orderable="false">Name</th>
                            <th data-orderable="false">Contact</th>
                            <th data-orderable="false">Mobile</th>
                            <th data-orderable="false">Email</th>
                            <th data-orderable="false">Address</th>
                            <th data-orderable="false">City</th>
                            <th data-orderable="false">State</th>
                            <th data-orderable="false">Zip Code</th>
                            
                        </tr>
                       
                        </thead>
                        <tbody>
                        @foreach($recipients  as $recipient)
                        <tr>
                            <td>{{$recipient->name}}</td>
                            <td>{{$recipient->contact}}</td>
                            <td>{{$recipient->mobile}}</td>
                            <td>{{$recipient->email}}</td>
                            <td>{{$recipient->address}}</td>
                            <td>{{$recipient->state->name}}</td>
                            <td>{{$recipient->city->name}}</td>
                            <td>{{$recipient->zip}}</td>
                            <td><a href="{{url('customer/recipient/delete/'.$recipient->id)}}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                        </tr>
                         @endforeach
                        </tbody>
                        </table>
                        </div>
                        </div>   
                        <!-- /.box-body -->
                    <div class="box-footer">
                        <a href="{{url('/admin/address-book')}}" class="btn btn-default"><span class="fa fa-ban"></span> &nbsp;Back</a>
                        <input type="submit" name="SaveForLater" class="btn btn-default" value="Savee For Later"/>
                        <a href="{{url('/admin/address-book')}}" class="btn btn-default"><span class="fa fa-ban"></span> &nbsp;Cancel</a>
                        <input type="submit" name="submit" value="Continue" class="btn btn-default">
                 </div>
                </div>
                </div>